#removableNavElement {
  background-color: initial;
  color: #0d6efd;
}

#removableNavElement:hover {
  background-color: initial;
  color: #0d6efd;
}

#removableNavElement.active {
  background-color: var(--bs-nav-pills-link-active-bg);
  color: var(--bs-btn-color);
}

#splitNavElement {
  color: #0d6efd;
  background-color: initial;
  border: none;
}

.active ~ #splitNavElement {
  color: var(--bs-btn-color);
  background-color: #0d6efd;
  border: none;
}

#addChannelButton {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
